nav{
    width: 100%;
    /* background: #333; */
    color: #fff;
    display: flex;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
.menu-icon{
    display: none;

}
nav img{
    width: 180px;
    margin-left: 20px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 5px  20px;
    font-size: 16px;
}
.dark-nav{
    background-color: #212ea0d8;
    transition: 0.5s ;
}

/* media query */

@media (max-width: 1000px) {
    .logo{
        width: 140px;
    }
    nav ul li{
        margin: 10px 15px;
    }
}

@media (max-width: 840px) {

    nav{
        padding: 15px 0;
    }

    nav ul{
        position: fixed;
        right: -200px;
        top: 0;
        bottom: 0;
        background: #212EA0;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
    }
    nav ul li {
        display: block;
        margin: 25px 40px;
    }

    .menu-icon{
        display: block;
        width: 30px;
        cursor: pointer;
    }
    .hide-mobile-menu{
        right: -200;
    }
    .baba{
        top: 0;
        right: 0;
    }

}